html {
  font-size: 1px;
  font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 46rem;
}
h2 {
  font-size: 32rem;
}
h3 {
  font-size: 18rem;
}
h4 {
  font-size: 16rem;
}
h5 {
  font-size: 12rem;
}
h6 {
  font-size: 10rem;
}
