button,
.button,
a.button {
  font-family: $font-primary;
  font-weight: $medium;
  border: none;
  border-radius: 10px;
  text-decoration: none;
	cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  appearance: none;
  letter-spacing: 0.3px;

  &.-normal {
    font-size: 15rem;
    font-weight: $medium;
    padding: 0 30px;
    line-height: 50px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15); 

    @include small-size-screen {
      font-size: 14rem;
      line-height: 44px;
    }
  }

  &.-primary {
    color: $color-white;
    background: $bg-green;
  }
}

.play-button {
  color: $color-white;
  display: flex;
  align-items: center;
  margin-left: 26px;

  @include small-size-screen {
    margin-left: 0;
    margin-top: 20px;
    justify-content: center;
  }

  i {
    font-size: 32rem;
    margin-right: 10px;
  }
}